.orange-bg{
    background-color: #FEEAE9;
}
.container{
    margin-bottom: 60px;
}

.carousel{
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: red;
    font-weight: 700;
    margin-bottom: 50px;
}
.catagory{
    margin-bottom: 20px;
}
.cat1, .cat2, .cat3{
    
    padding: 10px 30px;
    border-radius: 31px;
}
.cat1{
    background-color: orange;
}
.cat2{
    background-color: orchid;
}
.cat3{
    background-color: blue;
}
.catagory img{
    width: 100px;
}
.catagory h1{
    color: white;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}
.card h3{
    color: black;
}
.card .price{
    margin-bottom: 10px;
}
.cat-h{
    margin-bottom: 30px;
}
.card-footer{
    background-color: white;
    border-top: none;
}
.touch{
   
    background-color: #FEEAE9;
    padding: 150px 30px;
    border-radius: 20px;
}
footer{
    text-align: center;
}
footer p{
    font-size: 20px;
}